.logement-main {
	max-width: 1440px;
	margin: 1rem auto;
	color: #FF6060;
}

.info-container {
	display: flex;
	flex-flow: row nowrap;
	margin: 1rem 6.25rem;
	justify-content: space-between;
	align-items: space-between;
}

.info-container .description h1 {
	margin: 0;
	font-size: 36px;
	font-weight: 500;
}

.info-container .description p {
	margin: 0;
	font-size: 18px;
	font-weight: 500;
}

.host-profile {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

.host-info {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-end;
	gap: 1rem;
}

.host-info .host-name {
	text-align: right;
	width: 40%;
	font-size: 18px;
	font-weight: 500;
}

.host-info .host-picture {
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
}

.info-collapses-container {
	display: flex;
	flex-flow: row nowrap;
	gap: 2em;
	margin: 2rem 6.25rem;
}

@media screen and (max-width: 1024px) {
	.info-container .description h1 {
		font-size: 28px;
	}

	.info-container .description p {
		font-size: 16px;
	}
}

@media screen and (max-width: 425px) {
	.logement-main {
		margin: 1rem 1.2rem;
	}

	.info-container {
		flex-direction: column;
		margin: 0;
	}

	.info-container .description h1 {
		font-size: 18px;
	}

	.info-container .description p {
		font-size: 14px;
	}

	.host-profile {
		flex-direction: row;
		align-items: center;
	}

	.host-info .host-name {
		font-size: 12px;
	}

	.host-info .host-picture {
		width: 2rem;
		height: 2rem;
	}

	.info-collapses-container {
		margin: 0;
		flex-direction: column;
		gap: 1rem;
	}
}