.about-container {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 6.5rem;
	gap: 1.5rem;
	box-sizing: border-box;
}

@media screen and (max-width: 425px) {
	.about-container {
		margin: 0 auto;
		padding: 0 1.2rem;
	}
}