.home-main {
	max-width: 1440px;
	margin: 0 auto;
}

.main-container {
	background-color: #f6f6f6;
	border-radius: 25px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 3rem 3.5rem;
	padding: 3.5rem 3rem;
	max-width: 1440px;
	margin: 0 6.25rem;
	box-sizing: border-box;
}

.main-container p {
	justify-content: center;
	text-align: center;
}

@media screen and (max-width: 1024px) {
	.main-container {
		grid-template-columns: 1fr 1fr;
	}	
}
@media screen and (max-width: 425px) {
	.main-container {
		background-color: unset;
		grid-template-columns: 1fr;
		grid-gap: 1em;
		padding: 0;
		margin: 0 1.2rem;
	}
}