.carousel-container {
	position: relative;
	height: 26rem;
	border-radius: 50px;
	margin: 0 6.25rem;
}

.carousel-container .cover {
	z-index: 1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50px;
}

.arrow {
	position: absolute;
	display: flex;
	justify-content: center;
	z-index: 2;
	top: calc((100% / 2) - 1.5rem);
	width: 5rem;
	height: 3rem;
	cursor: pointer;
}

.left {
	rotate: -90deg;
	left: 0;
}

.right {
	rotate: 90deg;
	right: 0;
}

.picture-number {
	position: absolute;
	text-align: center;
	bottom: 0;
	left: calc(50% - 2rem);
	font-size: 18px;
	font-weight: 500;
	color: white;
	width: 4rem;
	height: 2rem;
}

@media screen and (max-width: 425px) {
	.carousel-container {
		height: 16rem;
		border-radius: 10px;
		margin: 0;
	}

	.carousel-container .cover {
		border-radius: 10px;
	}

	.arrow {
		width: 1.5rem;
		height: 1rem;
		top: calc(50% - 0.5rem);
	}

	.picture-number {
		display: none;
	}
}
