.footer {
	margin-top: 5rem;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	background-color: black;
	max-width: unset;
}

.footer img {
	width: 122px;
	height: 40px;
	margin-top: 2rem;
}

.footer p {
	color: white;
}

@media screen and (max-width: 425px) {
	.footer {
		margin-top: 2rem;
	}
}